[Unit]
Description=Dockerized github runner flip_
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=sudo python3 /usr/bin/flipper_docker.py flip_  FlipperZeroTest
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target