qa@qa-runners:~$ cat /etc/systemd/system/github-runner-unbinder@.service
[Unit]
Description=Flipper Device Binding Service for %i
After=dev-tty.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/flipper-unbinder.sh %i
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target